header{
    background-color:Purple;
    height:150px;
    border-radius:20px;
    font-family :Comic Sans MS, Comic Sans, cursive;
    color:white;
    font-size:30px;
}
header img{
    height:50px;
}
a{
    color:White;
    text-decoration:5px;
}

main{
    background-color:White;
    border-radius:20px;
    font-family :Comic Sans MS, Comic Sans, cursive;
}
h1{
    font-size:150px;
    text-align:center;
}

footer{
    background-color:Purple;
    height:300px;
    border-radius:20px;
    text-align:center;
    font-family:Comic Sans MS, Comic Sans, cursive;
    color:white;
    margin-left:10px;
    padding-left:15px;
    padding-right:15px;
}
footer img{
    border-radius:20px;
}

body{
   font-family:sans-serif;
}
